@font-face { font-family: 'LotteMartHappy'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff'); } @font-face { font-family: 'LotteMartHappy'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff'); } .lottemarthappy * { font-family: 'LotteMartHappy', sans-serif; } 
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; } 

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'S-CoreDream-8Heavy';
}

.container {
  padding: 10px 10px;
}

.status {
  width: 100%;
  margin-bottom: 10px;
}

.yes-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: lightgreen;
}

.no-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: gray;
}

input[type=search] {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 1px #000000ac;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid lightgray;
}

.total {
  border-bottom: 5px solid skyblue;
}

.checked {
  border-bottom: 5px solid lightgreen;
}

.nocheck {
  border-bottom: 5px solid gray;
}

.loading {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'LotteMartHappy';
}
