@font-face { font-family: 'LotteMartHappy'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff'); }
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Nanum Gothic', sans-serif;
}

.card-title {
  font-weight: bold;
}

.container {
  padding: 10px 10px;
}

.spinner-grow {
  width: 10rem;
  height: 10rem;
}

.status {
  width: 100%;
  margin: 0px;
}

.status-item {
  padding: 10px;
  padding-bottom: 0px;
}

.status-all {
  background-color: lightcoral;
}

.status-need {
  background-color: gray;
}

.status-complete {
  background-color: #4fcf4f;
}

.status-danger {
  background-color: red;
}

.progress-card {
  box-shadow: none;
  margin: 5px;
  padding: 0px;
}

.progress-card-body {
  padding: 0px;
}

.yes-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: lightgreen;
}

.no-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: gray;
}

.danger-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: red;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid lightgray;
}

.total {
  border-bottom: 5px solid skyblue;
}

.checked {
  border-bottom: 5px solid lightgreen;
}

.nocheck {
  border-bottom: 5px solid gray;
}

.loading {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'LotteMartHappy';
}
